* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    padding: 0 16px;
  }
  
  header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 0 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }

  .contributor {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .contributor h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .contributor p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .container {
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
  }
  
  .container h1 {
    font-size: 40px;
    font-weight: 200;
  }
  
  .authform {
    position: relative;
  }
  .authform input {
    border: 1px solid rgba(27, 20, 20, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgb(19, 15, 15);
    font-weight: 300;
  }
  
  .authform Button {
    appearance: none;
    outline: 0;
    background-color: rgb(168, 159, 159);
    border: 0;
    padding: 10px 15px;
    color: #1f2222;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
  }

  .color-nav {
    color: white;
  }

  .createContributorForm {
    padding: 10px 0;
    position: relative;
  }
  
  .createContributorForm input {
    border: 1px solid rgba(27, 20, 20, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 0 10px 10%;
    display: block;
    font-size: 18px;
    color: rgb(19, 15, 15);
    font-weight: 300;
  }

  .createContributorForm textarea {
    border: 1px solid rgba(27, 20, 20, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    height: 6em;
    width: 30em;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 0 10px 10%;
    display: block;
    font-size: 18px;
    color: rgb(19, 15, 15);
    font-weight: 300;
  }

  .createContributorForm Button {
    appearance: none;
    outline: 0;
    background-color: rgb(168, 159, 159);
    border: 0;
    margin: 0 0 10px 10%;
    padding: 10px 15px;
    color: #1f2222;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
  }
  
  .header-nav {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: center;
  }

  .search-control {
    float: right;
  }

  .search-control form {
    vertical-align: bottom;
    padding-top: 15%;
  }